.App {
  text-align: center;
}

.tech-radar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech-radar-section {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
